* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: #25252b;
    background-image: url("/img/lesti.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px) brightness(70%);
}
.container {
    position: relative;
    width: 1000px;
    overflow: hidden;
    height: 500px;
    border-radius: 10px;
    border: 2px solid goldenrod;
    /* box-shadow: 0 0 25px goldenrod; */
    background-color: #000;
}
.btn-back {
    border: none;
    position: absolute;
    padding: 10px 10px;
    width: 50px;
    z-index: 10;
    background-color: goldenrod;
    left: 0;
}
.btn-back i {
    font-size: 25px;
}
.container .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-box.Login .animation {
    transform: translateX(0%);
    transition: 0.7s;
    opacity: 1;
    transition-delay: calc(0.1s * var(--s));
}

.container.active .form-box.Login .animation {
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(0.1s * var(--D));
}
.form-box.Register .animation {
    transform: translateX(120%);
    transition: 0.7s ease;
    transition-delay: calc(0.1s * var(--s));
    opacity: 0;
}
.container.active .form-box.Register .animation {
    transform: translateX(0%);
    transition-delay: calc(0.1s * var(--li));

    opacity: 1;
}
.form-box.Login {
    /* background-color: red; */
    left: 0;
    padding: 0 40px;
}
.form-box h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
}
.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    transition: 0.5s;
}
.input-box input:focus,
.input-box input:valid {
    border-bottom: 2px solid gold;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    z-index: 10000;

    color: gold;
}
.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    transition: 0.5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: gold;
}
.btn-login {
    position: relative;
    width: 100%;
    border-radius: 40px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid goldenrod;
    overflow: hidden;
}
.btn-login::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, goldenrod, #25252b, goldenrod);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
.btn-login:hover::before {
    top: 0;
}
.regi-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 30px;
}
.regi-link a {
    text-decoration: none;
    color: goldenrod;
    font-weight: 600;
}
.regi-link a:hover {
    text-decoration: underline;
}
.info-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info-content.Login {
    right: 0;
    text-align: right;
    /* text-transform: uppercase; */

    padding: 0 40px 60px 150px;
}
.info-content.Register .animation {
    transform: translateX(-120%);
    transition: 0.7s ease;
    opacity: 0;
    filter: blur(10px);
}
.info-content.Register {
    left: 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}
.info-content.Login .animation {
    transform: translateX(0);
    transition: 0.7s ease;
    transition-delay: calc(0.1s * var(--s));
    opacity: 1;
    filter: blur(0px);
}
.container.active .info-content.Register .animation {
    transform: translateX(0%);
    opacity: 1;
    text-shadow: 10 10 40px rgba(0, 0, 0, 0.5);
    filter: blur(0);
    transition-delay: calc(0.1s * var(--li));
}
.container.active .info-content.Login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(0.1s * var(--d));
}
.info-content h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}
.info-content p {
    font-size: 16px;
}

.container .curved-shape {
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 1000px;
    /* background: linear-gradient(45deg, #25252b, gold); */
    background-image: url("/img/irithel.jpg");
    background-position: center bottom;
    background-size: cover;
    transform: rotate(10deg) skewY(40deg);
    border-bottom: 3px solid goldenrod;
    transform-origin: bottom right;
    transition: 1.5s ease;
}
.container.active .curved-shape {
    transform: rotate(0deg) skewY(0deg);
}
.container .curved-shape2 {
    position: absolute;
    top: 100%;
    left: 350px;
    height: 700px;
    width: 850px;
    transform: rotate(0deg) skewY(0deg);
    border-top: 3px solid goldenrod;
    background: #000;
    transform-origin: bottom left;
    transition: 1.5s ease;
}
.form-box.Register {
    /* display: none; */
    right: 0;
    padding: 0 70px;
}
.container.active .curved-shape2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}
/* form khusu hp */
.login-box {
    position: absolute;
    top: 50%;
    display: none;
    left: 50%;
    width: 100%;
    padding: 70px 40px;
    height: 100vh;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box p:first-child {
    margin: 0 0 50px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.login-box input:focus,
.login-box input:valid {
    border-bottom: 2px solid goldenrod;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: goldenrod;
    font-size: 12px;
}
.login-box i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.login-box input:focus ~ i,
.input-box input:valid ~ i {
    color: goldenrod;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 3px;
}

.login-box a:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: 0.375s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.login-box p:last-child {
    color: #aaa;
    font-size: 14px;
}

.login-box a.a2 {
    color: #fff;
    text-decoration: none;
}

.login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
}

@media (max-width: 750px) {
    .login-box {
        display: block;
    }
    .container {
        display: none;
    }
    body {
        background-image: none;
        background-color: #fff;
    }
}
