body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    /* min-height: 10000vh; */
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: gold;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #f0ad4e;
}

@keyframes brightnessAnimation {
    0%,
    100% {
    }
    50% {
    }
}
.paralax img#first {
    /* width: 100px; */
    /* position: fixed; */
    z-index: 2;
}

.paralax::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #272726, transparent);
    z-index: 10000;
}

@keyframes floating {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes animate {
    0%,
    18%,
    20%,
    60%,
    80%,
    92% {
        color: gold;
        text-shadow: none;
    }
    30%,
    50%,
    65%,
    90%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 40px gold, 0 0 80px gold,
            0 0 160px gold, 0 0 10px gold;
    }
}

.container .logo {
    font-size: 40px;
    font-weight: 900;
    transition: all ease 0.4s;
}
.container .logo:hover {
    transform: rotate(360deg);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 10%;
    transition: all ease 0.5s;
}
header.sticky {
    padding: 15px 15%;
    transition: all ease-in-out 0.4s;
    background: #333;
}
.logo {
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: none;
    color: gold;
    letter-spacing: 2px;
    font-family: "Black Ops One", cursive;
}
.nav {
    display: flex;
}
.nav a {
    position: relative;
    color: #ffffffb6;
    font-weight: 500;
    margin-left: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all ease 0.4s;
    animation: slidetop 0.5s ease forwards;
}

.nav a:hover {
    color: gold;
}

#menu-icon {
    font-size: 50px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    animation: slidetop 1s ease forwards;
    animation-delay: 1s;
}

/* === removing default button style ===*/
.button {
    height: auto;
    margin-left: 10px;
    background: transparent;
    padding: 0;
    border: none;
    transition: all ease 0.5s;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: gold;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
}
#home {
    background-color: #272626;
    height: auto;
    margin-top: -8rem;
    position: relative;
    padding-top: 20rem;
    z-index: 100;
    max-width: 100%;
    padding-bottom: 5rem;
    font-family: "poppins";
}
#home .home-text {
    font-size: 4rem;
    position: relative;
}
#home .home-text .store {
    animation: animate 5s linear infinite;
}
#home .betrik-home {
    position: relative;
    animation: floatingAnimation 3s infinite;
}

@keyframes floatingAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#home .counter,
.counter-fast,
.counter-trust {
    font-size: 3rem;
    position: relative;
    color: #fff;
    font-weight: 700;
}
#home .counter-fast::after {
    content: "%";
}
#home .counter-trust::after {
    content: "%";
}

#home .counter::after {
    content: "%";
}

.btn-order {
    font-family: "poppins";
    font-size: 1.2rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid gold;
    background: #252525;
    box-shadow: 3px 3px gold;
    cursor: pointer;
}

.btn-order:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
#order {
    background-color: #272626;
    height: auto;
    /* margin-top: -6rem; */
    position: relative;
    padding-top: 10rem;
    padding-bottom: 16rem;
    z-index: 100;
    font-family: "poppins";
}

.order h1,
.swiper h1 {
    color: gold;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 50px;
}
.img-area {
    text-align: center;
    color: #fff;
    position: relative;
    height: auto;
    overflow: hidden;
}

.img-area img {
    width: 100%;
    height: 100%;
    transform: scaleZ(1.5);
    transition: all ease 0.5s;
}
.loader {
    display: flex;
    position: fixed;
    left: 0;
    z-index: 10000;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);

    width: 100%;
    height: 100%;
    /* filter: blur(5); */
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 250px;
    height: 150px;
    position: relative;
    animation: rotation 0.75s linear infinite;
    border-radius: 100em;
}

.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 20;
    stroke-linecap: round;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

.img-text,
.img-area::after {
    width: 100%;
    position: absolute;
    left: 0;
}
.img-area::after {
    content: "";
    height: 100%;
    top: 0;
    transition: 0.5s;
}
.img-area:hover::after {
    background: linear-gradient(
        to bottom,
        rgba(199, 0, 57, 0.01) 0,
        rgba(36, 28, 8, 0.25) 25%,
        rgba(31, 27, 5, 0.5) 50%,
        rgba(24, 19, 2, 0.75) 75%,
        rgba(27, 27, 25, 0.95) 100%
    );
}
.img-text {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    transform: translateY(170px);
    /* opacity: 0; */
    font-family: "Poppins", sans-serif;
    transition: all ease 0.4s;
}
.img-text h3 {
    font-weight: 600;
}
.img-text h5 {
    font-weight: 300;
}
.img-area:hover .img-text {
    z-index: 10000;
    transform: translateY(0);
}

.sec-right {
    background: linear-gradient(
        to top,
        rgba(24, 23, 23, 0.01) 0,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(44, 43, 43, 0.5) 50%,
        rgba(37, 37, 37, 0.75) 75%,
        rgba(51, 49, 49, 0.95) 100%
    );
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    padding: 2px 20px 20px 20px;
}

.sec-right .focus-ring {
    border-radius: 4px;
    --bs-focus-ring-color: rgba(255, 215, 0, 0.27);
    --bs-focus-ring-blur: 4px;
    font-size: 14px;
    transition: var(--bs-focus-ring-color) 0.3s ease,
        var(--bs-focus-ring-blur) 0.3s ease;
}

.sec-right .focus-ring:focus {
    border: 1px solid gray;
}

.sec-right.form-account .form-select option {
    font-size: 14px;
}

.sec-right.form-account .password {
    position: relative;
}

.sec-right.form-account .iconPw {
    position: absolute;
    right: 7px;
    top: 6px;
    color: #000;
    cursor: pointer;
    display: none;
}

.sec-right.select-rank .btn {
    position: relative;
    display: block;
    padding: 0.7rem 1rem;
}

.sec-right.select-rank .btn-check + .btn {
    color: #fff;
    font-size: 13px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.sec-right.select-rank .btn-check:checked + .btn {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease,
        box-shadow 0.3s ease;
}

.sec-right.select-rank .btn-check:checked + .btn .fst-italic {
    color: #ecdd0d;
}

.sec-right.select-rank .btn-check + .btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.sec-right h1 {
    position: relative;
    font-size: 1.64rem;
    margin: 10px 0 8px 0;
}

.sec-right h1::before {
    content: "";
    border-bottom: 3px solid rgb(255, 217, 0);
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}

.sec-left h1 {
    position: relative;
    font-size: 1.35rem;
}

.sec-left h1::before {
    content: "";
    border-bottom: 3px solid rgb(255, 217, 0);
    border-radius: 10px;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
}

.sec-left {
    border-radius: 10px;
    background: linear-gradient(
        to top,
        rgba(24, 23, 23, 0.01) 0,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(44, 43, 43, 0.5) 50%,
        rgba(37, 37, 37, 0.75) 75%,
        rgba(51, 49, 49, 0.95) 100%
    );
    font-family: "poppins";
    padding: 20px 20px;
}

.sec-left .btn-other {
    position: relative;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.sec-left .btn-other .img-other {
    position: relative;
    width: 125px;
    height: 60px;
    overflow: hidden;
    border-radius: 7px 0 0 7px;
    transition: all 0.3s ease;
}

.sec-left .btn-other .img-other img {
    width: 100%;
    height: 100%;
}

.sec-left .btn-other .img-other::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%; /* Mulai dari luar layar kiri */
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 25%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.5) 75%,
        rgba(255, 255, 255, 0.7) 100%
    );
    transition: all 0.3s ease;
}

.sec-left .btn-other:hover .img-other::after {
    left: 0; /* Posisi latar belakang ke kiri saat hover */
}

.sec-left .btn-other .title {
    color: #fff;
    font-size: 14px;
}

#service .container {
    margin-top: 3rem;
}
#service {
    background-color: #272626;
    margin-top: -8rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
}
.bg {
    padding: 15px 15%;
    background-color: #333;
}
#service .logo {
    height: 200px;
    display: flex;
    text-align: center;
    transform: translateX(50%);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}
#service .logo img {
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
}
.content-text h2 {
    position: relative;
}

.content-text h2::before {
    content: "";
    border-bottom: 5px solid gold;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    width: 90px;
}
.preview {
    background-color: #272626;
    width: 100%;
}
.swiper {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 10rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #000;
    border-radius: 10px;
    filter: blur(4px);
    width: 300px;
    position: relative;
    height: 400px;
}

.swiper-slide .testimoni h3 {
    position: relative;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.swiper-slide .testimoni i {
    color: gold;
    font-size: 30px;
}
.swiper-slide-active {
    filter: blur(0);
    box-shadow: 0 0 10px gold;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.payment-drawwer {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}

.payment-drawwer .header-payment {
    position: relative;
    padding: 10px 0 0 15px;
    cursor: pointer;
}

.payment-drawwer .header-payment h4 {
    font-size: 19px;
}

.payment-drawwer .footer-payment {
    background-color: rgba(174, 174, 174, 0.261);
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px 6px 0;
    cursor: pointer;
}

.payment-drawwer .footer-payment img {
    margin: 0 3px 3px 3px;
    padding: 2px;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.payment-drawwer.active .footer-payment img {
    transform: scale(0);
}

.payment-drawwer .btn-check + .btn {
    background: rgb(208, 208, 208);
    text-align: left;
    border: transparent;
    border-radius: 3px;
    filter: grayscale(100%);
    color: #000;
    position: relative;
}

.payment-drawwer .btn-check:checked + .btn {
    filter: grayscale(0);
    background-color: #ffffff;
    border: transparent;
    color: #000;
}
.payment-drawwer .btn-check:checked + .btn .harga {
    color: gold;
    font-weight: 500;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.payment-drawwer .btn-check:checked + .btn::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
    background: url("/img/aj-verified-removebg-preview.png");
    background-size: cover;
}

.payment-drawwer .btn-check:checked + .btn::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 0;

    height: 0;
    border-left: 33px solid transparent;
    border-bottom: 33px solid rgb(243, 243, 2);
    z-index: 0;
    transform: rotate(-90deg);
}
.harga {
    float: right;
    margin-right: 15px;
}

.payment-drawwer .btn-check:hover + .btn {
    filter: grayscale(0);
    background-color: #ffffff;
    border: transparent;
    color: #000;
}

.payment-drawwer .info-top {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.payment-drawwer .info-bottom {
    font-size: 11px;
    line-height: 13px;
}

.payment-drawwer .button-payment {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.payment-drawwer.active .button-payment {
    max-height: 300px;
    transition: max-height 0.3s ease-in-out;
}

.payment-drawwer .footer-payment .bi-chevron-down {
    transition: transform 0.3s ease;
}

.payment-drawwer.active .footer-payment .bi-chevron-down {
    transform: rotate(180deg);
}

.card-order input[type="text"]::placeholder {
    font-size: 17px;
}

.card-order .order-btn {
    background-color: rgba(174, 174, 174, 0.261);
    color: #fafafa;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}
.informasi-content {
    background-color: #000;
}
.informasi-header {
    background: gold;
    border-bottom: 0;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.informasi-footer {
    background-color: #333;
}
.informasi-body {
    background-color: #333;
}
.verifikasi-content {
    background-color: #333;
    color: #fff;
}
.verifikasi-header {
    background-image: url("/img/lesti2.jpg");
    background-position: center top;

    background-size: cover;
    border: 0;
}
.verifikasi-header h1 {
    text-transform: uppercase;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    /* filter: blur(2px); */
    padding: 0 10px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.35rem;
    color: #fff;
    /* -webkit-text-stroke: 2px yellow; */
}
.verifikasi-footer {
    /* background-image: url("/img/lesti.jpg");
    background-position: center bottom; */
    background-color: #333;
    border: 0;
    background-size: cover;
}

.verifikasi-body {
    /* From https://css.glass */
    /* background: rgba(0, 0, 0, 0.39); */
    background-position: center;
    background-size: cover;
    background-image: url("/img/blur.jpg");
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border-left: 2px solid #fff;
    border-right: 2px solid #fff; */
    /* backdrop-filter: blur(0px); */
    /* backdrop-filter: blur(0px); */
}

.verifikasi-body i {
    color: gold;
    font-size: 1.8rem;
}
.verifikasi-body p {
    background-color: #000000b0;
    box-shadow: 0 5px 10px rgba(231, 228, 228, 0.2);
    border-radius: 20px;
    padding: 10px 10px;
}
.pesan {
    padding: 10px 15px;
    border: unset;
    border-radius: 15px;
    color: #000;
    z-index: 1;
    /* background: #fff; */
    position: relative;
    font-weight: 700;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.pesan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: orange;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.pesan:hover {
    color: #000;
}

.pesan:hover::before {
    width: 100%;
}

#invoice {
    width: 100%;
    padding-bottom: 5rem;
    background-color: #272626;
}

.invoice-wrapper {
    background-color: transparent;
    box-shadow: 0 0 10px goldenrod;
    border: 2px solid goldenrod;
    border-radius: 15px;
    overflow: hidden;
}
.header-invoice {
    padding: 20px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid goldenrod;
}
.header-invoice h1 {
    text-transform: uppercase;
    font-family: "poppins";
    color: #fff;
    font-weight: 800;
}
.header-invoice h5 {
    color: rgb(255, 56, 56);
    font-weight: 600;
    font-size: 20px;
    font-family: "poppins";
}
.invoice-content {
    padding: 20px 20px;
    margin: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.file-input-container {
    position: relative;
    display: inline-block;
}

input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 10px;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: red; */
    cursor: pointer;
}

.label-img {
    background-color: gold; /* Ganti dengan warna latar belakang yang Anda inginkan */
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid red; */
}

.img-preview {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    margin-top: 12px;
}

.invoice-content h6 {
    font-size: 20px;
    font-weight: 600;
    font-family: "poppins";
}
.data-akun {
    font-style: italic;
}
.btn-submit {
    background-color: transparent;
    padding: 20px;
    position: relative;
    width: 10em;
    transform: translateX(340px);
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 50px;
    box-shadow: 0 0 10px goldenrod;
}

.btn-submit p {
    position: absolute;
    top: 0.2em;
    left: 50px;
    font-weight: 800;
    margin: 0;
    font-size: 20px;
    padding: 0;
    transition: 0.5s;
    color: #fff;
}

.btn-submit svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    width: 50px;
    font-size: 20px;
    height: 1em;
    fill: #fff;
}

.btn-submit:hover p {
    left: 2em;
    color: #fff;
}

.btn-submit:hover svg {
    opacity: 1;
}

.btn-submit:hover {
    background-color: goldenrod;
}

footer {
    display: grid;
    justify-content: center;
    align-items: end;
    height: auto;
    background: #000;
    position: relative;
    width: 100%;
    padding: 20px 20px;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container .sec h2 {
    position: relative;
    color: #aaa;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .container .sec p {
    color: #aaa;
}
footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}
footer .container .sci li {
    list-style: none;
}
footer .container .sci li a {
    width: 35px;
    height: 35px;
    background-color: #aaa;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
footer .container .sci li a i {
    color: #fff;
    font-size: 20px;
}
footer .container .quicklinks {
    position: relative;
}
footer .container .quicklinks ul li {
    list-style: none;
}
footer .container .quicklinks ul li a {
    color: #aaa;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .container .contact .info {
    position: relative;
}
footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .container .contact .info li span {
    color: #aaa;
    font-size: 20px;
}
footer .container .contact .info li a {
    color: #aaa;
    text-decoration: none;
}
#terms {
    background-color: #272626;
    padding: 5rem 0;
}
.copyrightText {
    width: 100%;
    background: #000;
    text-align: center;
    color: #aaa;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 1070px) {
    header {
        padding: 30px 5%;
        transition: 0.2s;
    }
    #menu-icon {
        display: block;
    }
    .logo {
        font-size: 40px;
    }
    .content h1 {
        font-size: 50px;
    }
    .nav {
        width: 50%;
        position: absolute;
        top: 100%;
        left: -800px;
        border-radius: 23px;
        display: flex;
        background-color: #333;
        margin: auto;
        flex-direction: column;
        transition: 0.5s;
        text-align: left;
    }
    .nav a {
        display: block;
        color: #fff;
        padding: 1rem;
    }

    .nav a::after {
        left: 0;
        bottom: 2px;
    }
    .nav a:hover::after {
        width: 120px;
    }
    .nav.open {
        left: 20px;
    }
}
@media (max-width: 991px) {
    .paralax {
        display: none;
    }
    footer {
        padding: 40px;
    }

    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .copyrightText {
        padding: 20px 40px 30px;
    }
}
@media (max-width: 767px) {
    body {
        background-color: #272626;
    }
    #home {
        padding-top: 18rem;
    }

    #home .betrik-home {
        animation: none; /* Menghilangkan animasi pada layar kecil */
        margin-top: 20px; /* Menambahkan margin atas pada gambar */
    }
    #order {
        padding-top: 0;
    }
    #home .home-text {
        font-size: 2.5rem;
        width: 300px;
    }
    #home .home-text .store {
        animation: none;
    }
    #home .counter,
    .counter-fast,
    .counter-trust {
        font-size: 2rem;
    }
    .btn-submit {
        transform: translateX(100px);
    }
    #home p {
        font-size: 1px;
    }
    #home .btn1 {
        width: 45%;
        margin-bottom: 30px;
        padding: 10px 10px;
    }
    .kolom-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        width: 100%;
    }
    .order h1 {
        margin-top: 10rem;
    }
    .swiper {
        width: 100%;
    }
    footer .container {
        width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}
